h1{
    padding: 0px 750px;
    color: greenyellow;
}
.FIRST{
    padding: 0px 750px;
color: greenyellow;
size: 2000px;
} 
body{
    background-color: black;
}  
.second{padding: 0px 750px;
    color: greenyellow;
    size: 2000px;

} 
.thrid{
    padding: 0px 750px;
color: greenyellow;
size: 2000px;
}
